@model List<Users>
@{
  ViewData["Title"] = "Home Page";
}
<select id=mySelect>
  <option value="users">users</option>
  <option value="products">products</option>
    <option value="shopCar">shopCar</option>
    <option value="join">join</option>
</select>
<br />
<br />

<div class="d-xl-flex flex-row flex-nowrap gap-4">
    <table id="table"></table>
</div>
